a.out
*.o
unit_tests*
*_debug
*.gcda
*.gcno
.vscode
coverage*
.gdb_history
docs
.cache
compile_commands.json
compile_commands.txt
*.so
*.a
raytracer
compile_flags.txt
build
test*
vgcore*
output.ppm
*.obj
*.conf
windows*
data.img
*.iso
gprof2dot
.clang-format
uftrace
scene.cfg
